# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
*.log

# Generated platform dirs (excluding android since we have custom config)
/ios/
/linux/
/macos/
/windows/
/web/

# IDE / OS
.idea/
.vscode/
.DS_Store
Thumbs.db
